<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//Spring//DTD Bean//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd"
[<!ENTITY absi-spring-dao-config SYSTEM "esac/archive/absi/persistence/absi-spring-dao-config.xml">]>

<beans>

  
	<!--###################################################-->
	<!--##########  Hibernate configuration     ###########-->
	<!--###################################################-->

	<bean id="hibernateSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>hibernate.cfg.xml</value>
		</property>
	</bean> 
	
     
	<!--###################################################-->
	<!--#######   DAO configuration for isssolac schema   ######-->
	<!--###################################################-->
	

    <bean id="FKT_DPS01_IIG_L31_STP_Dao" class="BrazilCenter.DaoUtils.persistence.impl.FKT_DPS01_IIG_L31_STP_IMPL">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean> 

	<bean id="SZT_ISM01_DNP_L01_30M_Dao" class="BrazilCenter.DaoUtils.persistence.impl.SZT_ISM01_DNP_L01_30M_IMPL">
	        <property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>
</beans>
